.editor-wrap {
  @import "../base/_base.scss";
  flex-grow: 1;
  overflow: hidden;
  .editor-top,
  .editor-bottom {
    display: flex;
    justify-content: space-between;
    height: 52px;
    box-sizing: border-box;
    padding: 8px;
    .note-outer-wrap {
      width: 100%;
      color: $--silver-chalice;
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      p {
        height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .partial-content,
      .last-modified-ago,
      .note-name-and-icon,
      .note-detail {
        display: none;
      }
      .icon {
        .horizontal {
          display: none;
        }
      }
    }
  }
  .quill {
    .ql-container {
      &.ql-snow {
        height: calc(
          100vh - (2 * 52px) - (42px)
        ); // 100vh - top - bottom - toolbar height
        overflow-y: scroll;
        padding: 10px;
        border: {
          bottom: 1px solid $--mercury;
          top: 1px solid $--mercury;
          right: none;
          left: none;
        }
      }
    }
    .ql-toolbar {
      &.ql-snow {
        border: none;
      }
    }
  }
}
