$--note-item-outer-height: 120px;
$--note-item-inner-height: 63px;
$--note-item-outer-paddingY: 16px;
$--note-item-outer-paddingX: 26px;

.note-list-wrap {
  @import "../base/_base.scss";
  flex: 0 0 293px;
  height: 100%;
  overflow-y: scroll;
  background-color: $--alabaster;
  border-right: 1px solid $--mercury;
  .notebook-item-inner {
    padding: 16px 26px;
    box-sizing: border-box;
    height: 102px;
    border-bottom: 1px solid $--mercury;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .notebook-name-and-icon {
      .notebook-name {
        color: $--title-gray;
        font-size: 20px;
        height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .expand-icon,
      .note-count {
        display: none;
      }
    }

    .notebook-detail-and-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .note-count {
        font-size: 13px;
        color: $--silver-chalice;
      }
      .actions {
        position: relative;
        &.allNotes {
          display: none;
        }
        .icon {
          width: 20px;
          height: 20px;
          svg {
            fill: $--silver-chalice;
          }
        }
      }
    }

    .notebook-icon,
    .is-default-notebook {
      display: none;
    }
  }
  .note-item-outer {
    height: $--note-item-outer-height;
    padding: $--note-item-outer-paddingY $--note-item-outer-paddingX;
    box-sizing: border-box;
    border-bottom: 1px solid $--mercury;
    font-size: 14px;
    color: $--note-item-font-gray;
    &.active {
      background-color: $--concrete;
    }
    .note-item-inner {
      width: 100%;
      height: $--note-item-inner-height;
      overflow: hidden;
      :first-child {
        color: $--title-gray;
        font-weight: bold;
        font-size: 16px;
      }
      :nth-child(2),
      :nth-child(3) {
        font-size: 14px;
        font-weight: normal;
      }
    }
    .last-modified {
      font-size: 12px;
      color: $--silver-chalice;
      height: $--note-item-outer-height - $--note-item-inner-height -
        ($--note-item-outer-paddingY * 2);
      line-height: $--note-item-outer-height - $--note-item-inner-height -
        ($--note-item-outer-paddingY * 2);
    }
  }
}
