@import "../base/_base.scss";
.note-actions-wrap {
  position: relative;
  height: 100%;
  .icon {
    width: $--note-actions-icon-width;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
      width: $--note-actions-icon-width;
      fill: $--silver-chalice;
    }
  }
}
