.notebook-list-outer-wrap {
  @import "../base/_base.scss";

  $--notebook-list-outer-wrap-padding: 30px;
  $--main-title-wrap-height: 50px;
  $--secondary-title-wrap-height: 24px;
  $--secondary-title-wrap-padding: 10px;
  $--secondary-title-wrap-border-width: 2px;
  $--table-heading-height: 33px;
  $--note-list-fixed-height: (2 * $--notebook-list-outer-wrap-padding) +
    ($--main-title-wrap-height) + ($--secondary-title-wrap-height) +
    (2 * $--secondary-title-wrap-padding) +
    ($--secondary-title-wrap-border-width) + ($--table-heading-height);

  padding: $--notebook-list-outer-wrap-padding;
  box-sizing: border-box;
  width: 100%;
  &.show {
    display: block;
  }
  .main-title-wrap,
  .secondary-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-title-wrap {
    font-size: 20px;
    color: $--title-gray;
    height: $--main-title-wrap-height;
  }
  .secondary-title-wrap {
    height: $--secondary-title-wrap-height;
    padding: $--secondary-title-wrap-padding 0;
    border-bottom: $--secondary-title-wrap-border-width solid $--nevada;
    font: {
      size: 15px;
      weight: 500;
    }
    .add-notebook-btn {
      color: $--evernote-green;
    }
  }
  .detail-item,
  .title {
    padding: 0.5rem;
    box-sizing: border-box;
    &.is-default-notebook {
      width: 117px;
    }
  }
  .actions {
    width: 53px;
  }
  .notebook-list-inner-wrap {
    .table-heading {
      display: flex;
      justify-content: space-between;
      li {
        font-size: 11px;
        color: $--silver-chalice;
        font-weight: bold;
        .title {
          flex-basis: 30%;
        }
        &.notebook-detail-and-actions {
          display: flex;
          justify-content: space-between;
        }
        .is-default-notebook {
          width: 117px;
        }
      }
    }
    .notebook-list {
      overflow-y: scroll;
      height: calc(100vh - #{$--note-list-fixed-height});
    }
  }
  .notebook-outer-wrap {
    .shared-menu-list {
      display: none;
    }
    &.show-menu {
      .shared-menu-list {
        display: block;
      }
    }
    .notebook-inner-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .notebook-name-and-icon,
      .notebook-detail-and-actions {
        display: flex;
        align-items: center;
        font-size: 14px;
      }
      .notebook-name-and-icon {
        justify-content: flex-start;
        padding: 0.5rem;
        box-sizing: border-box;
        flex-basis: 30%;
        .expand-icon,
        .notebook-icon {
          margin-right: 5px;
          flex-shrink: 0;
        }
        .notebook-name {
          color: $--title-gray;
          font-weight: 500;
          cursor: pointer;
          max-width: 196px;
          height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .note-count {
          color: $--silver-chalice;
          margin-left: 5px;
        }
      }
      .notebook-detail-and-actions {
        justify-content: space-between;
        color: $--boulder;

        .note-count {
          display: none;
        }
        .actions {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .icon {
            width: 20px;
            height: 20px;
            fill: $--boulder;
          }
        }
      }
    }
    .note-list {
      display: none;
      &.show {
        display: block;
      }
      .note {
        display: flex;
        .note-outer-wrap {
          width: 100%;
          .partial-content,
          .last-modified-ago,
          .last-modified-time,
          .last-modified-date,
          .notebook-name {
            display: none;
          }
          .note-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            box-sizing: border-box;
            p {
              padding: 0.5rem;
            }
            .note-name-and-icon {
              display: flex;
              align-items: center;
              flex-basis: 30%;
              padding-left: 52px;
            }
            .last-modified-date {
              display: block;
            }
            .note-actions-wrap {
              width: 53px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0.5rem;
              box-sizing: border-box;
              .icon {
                width: 20px;
                height: 20px;
                svg {
                  fill: $--boulder;
                }
                .vertical {
                  display: none;
                }
              }
              .shared-menu-list {
                display: none;
                &.show {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}
