$--note-item-outer-height: 120px;
$--note-item-inner-height: 63px;
$--note-item-outer-paddingY: 16px;
$--note-item-outer-paddingX: 26px;

.note-list-wrap {
  @import "../base/_base.scss";
  flex: 0 0 293px;
  height: 100%;
  overflow-y: scroll;
  .note-item-outer {
    height: $--note-item-outer-height;
    padding: $--note-item-outer-paddingY $--note-item-outer-paddingX;
    box-sizing: border-box;
    background-color: $--alabaster;
    border: 1px solid $--mercury;
    font-size: 14px;
    color: $--note-item-font-gray;
    &.active {
      background-color: $--concrete;
    }
    .note-item-inner {
      width: 100%;
      height: $--note-item-inner-height;
      overflow: hidden;
      :first-child {
        color: $--title-gray;
        font-weight: bold;
        font-size: 16px;
      }
      :nth-child(2),
      :nth-child(3) {
        font-size: 14px;
        font-weight: normal;
      }
    }
    .last-modified {
      font-size: 12px;
      color: $--silver-chalice;
      height: $--note-item-outer-height - $--note-item-inner-height -
        ($--note-item-outer-paddingY * 2);
      line-height: $--note-item-outer-height - $--note-item-inner-height -
        ($--note-item-outer-paddingY * 2);
    }
  }
}
