.side-wrap {
  @import "../base/_base.scss";
  flex: 0 0 241px;
  background-color: $--cod-gray;
  color: $--white;
  padding: 24px;
  box-sizing: border-box;
  .account-menu-wrap {
    position: relative;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .current-user {
      font-size: 13px;
      width: 133px;
      text-overflow: ellipsis;
      overflow: hidden;
      color: $--silver-chalice;
    }
    .expand-icon {
      stroke: $--silver-chalice;
    }
  }
  .side-menu-wrap {
    .menu-list {
      .menu-item {
        color: $--mercury;
        font-size: 14px;
        height: 32px;
        line-height: 32px;
        cursor: pointer;
        .notebook-inner-wrap {
          padding-left: 16px;
          box-sizing: border-box;
          height: 32px;
          cursor: pointer;
          .notebook-name-and-icon {
            display: flex;
            align-items: center;
            height: 100%;
            .expand-icon {
              display: none;
            }
            .notebook-icon {
              fill: $--mercury;
              margin-right: 5px;
              flex-shrink: 0;
            }
            .notebook-name {
              color: $--mercury;
              font-size: 14px;
              height: 100%;
              width: 124px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .notebook-detail-and-actions,
          .note-count {
            display: none;
          }
        }
        .note-list {
          display: none;
        }
      }
    }
  }
}
