$--cod-gray: #1a1a1a;
$--title-gray: #333;
$--note-item-font-gray: #4d4d4d;
$--nevada: #5b6b70;
$--boulder: #777;
$--silver-chalice: #a6a6a6;
$--mercury: #e6e6e6;
$--concrete: #f2f2f2;
$--alabaster: #f8f8f8;
$--white: #ffffff;
$--evernote-green: #00a82d;
$--tomato: #e54e40;
$--light-box-bg: rgba(42, 51, 60, 0.4);
$--note-actions-icon-width: 24px;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.home-container-wrap,
.main-wrap {
  display: flex;
  height: 100vh;
}
.main-wrap {
  flex-grow: 1;
  .empty-note-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.input-text {
  height: 38px;
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid $--silver-chalice;
}
.small-warning-message {
  font-size: 8px;
  color: $--tomato;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
}

%box-style {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: white;
}

%btn-style {
  cursor: pointer;
  line-height: 36px;
  height: 36px;
  min-width: 58px;
  padding: 0 5px;
  text-align: center;
  border-radius: 4px;
  font: {
    size: 14px;
    weight: 600;
  }
}

.shared-menu-list {
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 34px;
  width: 150px;
  @extend %box-style;
  &.show {
    display: block;
  }
  .menu-item {
    padding: 6px 20px;
    color: $--title-gray;
    cursor: pointer;
    font: {
      weight: 500px;
      size: 14px;
    }
  }
}

%general-btn-style {
  color: $--silver-chalice;
  border: 1px solid $--silver-chalice;
  background-color: white;
}

%warning-btn-style {
  color: white;
  border: 1px solid $--tomato;
  background-color: $--tomato;
}

%highlight-btn-style {
  color: white;
  border: 1px solid $--evernote-green;
  background-color: $--evernote-green;
}
