$--cod-gray: #1a1a1a;
$--title-gray: #333;
$--alabaster: #f8f8f8;
$--mercury: #e6e6e6;
$--silver-chalice: #a6a6a6;
$--concrete: #f2f2f2;
$--white: #ffffff;
$--evernote-green: #00a82d;
$--note-item-font-gray: #4d4d4d;
$--tomato: #e54e40;
$--light-box-bg: rgba(42, 51, 60, 0.4);
$--editor-menu-icon-width: 24px;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.app-wrap {
  display: flex;
  height: 100vh;
}

%box-style {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: white;
}

%btn-style {
  cursor: pointer;
  line-height: 36px;
  height: 36px;
  width: 58px;
  text-align: center;
  border-radius: 4px;
  font: {
    size: 14px;
    weight: 600;
  }
}

%general-btn-style {
  color: $--silver-chalice;
  border: 1px solid $--silver-chalice;
  background-color: white;
}

%warning-btn-style {
  color: white;
  border: 1px solid $--tomato;
  background-color: $--tomato;
}
