.note-list-container {
  margin-top: 25px;
}
.note-list-item {
  margin-top: 10px;
  color: white;
  transition: background-color 1s;
}

.note-list-item:hover {
  background-color: dodgerblue !important;
}

.complete-note-item {
  float: right;
  right: 20px;
}

#note-add-form {
  animation: 1s;
  animation-name: slidein;
}

.app-wrap {
  display: flex;
}
.menu-wrap,
.list-wrap,
.editor-wrap {
  width: 33%;
  border: 1px solid green;
}
.note-item {
  height: 50px;
  border: 1px solid burlywood;
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    margin-left: 1;
  }
}
